
*{
    margin: 0px;
    padding: 0;
}

:root{
    --primary-color: rgb(1, 45, 79);
    --secondary-color: rgb(50, 105, 255);
    --headline-color: rgb(253, 195, 2);
    --text-color:#b7f5ff; 
    --hover-color: #1191a4; 
    
}